@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(to bottom, #ffffff52, #000000), url("./assets/LOGO.jpg");
    background-size: cover;
    height: 100%;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 80px;
    height: 20px;
    color: #b8b2e6;
    background:
        radial-gradient(farthest-side, currentColor 98%, #0000) left /20px 20px,
        radial-gradient(farthest-side, currentColor 98%, #0000) right /20px 20px,
        radial-gradient(farthest-side, #000 98%, #0000) center/5px 5px,
        linear-gradient(currentColor 0 0) center/100% 2px;
    background-repeat: no-repeat;
    animation: l9 1s cubic-bezier(.5, -150, .5, 150) infinite;
}

@keyframes l9 {
    100% {
        transform: rotate(1deg)
    }
}