@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(to bottom, #ffffff52, #000000), url("./assets/LOGO.jpg");
    background-size: cover;
    height: 100%;
}

/* HTML: <div class="loader"></div> */
.loader {
    margin-top: 3rem;
    width: 200px;
    height: 50px;
    color: #b8b2e6;
    background:
        radial-gradient(farthest-side, currentColor 98%, #0000) left /50px 50px,
        radial-gradient(farthest-side, currentColor 98%, #0000) right /50px 50px,
        radial-gradient(farthest-side, #000 98%, #0000) center/15px 15px,
        linear-gradient(currentColor 0 0) center/100% 5px;
    background-repeat: no-repeat;
    animation: l9 1s cubic-bezier(.5, -150, .5, 150) infinite;
}

@keyframes l9 {
    100% {
        transform: rotate(1deg)
    }
}

/* HTML: <div class="loader"></div> */
.loader1 {
    display: inline-flex;
    gap: 10px;
}

.loader1:before,
.loader1:after {
    content: "";
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        linear-gradient(#222 0 0) top/100% 0% no-repeat,
        radial-gradient(farthest-side, #000 95%, #0000) 50%/8px 8px no-repeat #fff;
    animation: l9 4s infinite ease-in;
}

@keyframes l9 {
    0% {
        background-size: 100% 0%, 8px 8px;
        background-position: top, 50% 50%
    }

    80% {
        background-size: 100% 70%, 8px 8px;
        background-position: top, 50% 70%
    }

    84%,
    100% {
        background-size: 100% 0%, 8px 8px;
        background-position: top, 50% 50%
    }
}